.wrap{
    position: absolute;
    background-color: rgb(172, 202, 0);
    width: 800px;
    left: -23px;
    top: 100px;
    padding: 30px;
    border: 5px solid #000000;
    z-index: 1;
}

.form label
{
    font-size: 1.1em;

    display: block;

    padding: 40px 5px 5px 2px;

    cursor: pointer;
    text-transform: uppercase;

    color: #2b2b2b;
}

.form input,
.form textarea
{
    font: inherit;

    display: block;

    width: 100%;
    padding: 5px 10px;

    color: inherit;
    border: 3px solid #fff;
    background: transparent;
}

.form textarea
{
    min-height: 200px;
}

.form input:focus,
.form textarea:focus,
.form label:active + input,
.form label:active + textarea
{
    border-color: #10689a;
    outline: none;
}