.more--3TfZs {
    width: 200px;
    background-color: chartreuse;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.add--2E0Lp{
    width: 200px;
    background-color: yellow;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.post--3FbCi{
    width: 200px;
    background-color: rgb(167, 167, 167);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
}

.small--3YSSh
{
    margin-left: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

    transition: opacity .3s linear;

    will-change: transform;
}

.small--3YSSh svg
{
    width: 20px;
    height: 20px;

    transition: transform .3s linear;

    will-change: transform;
}

.small--3YSSh:hover svg
{
    transform: scale(1.3)
}
.wrap--D_GN6{
    position: absolute;
    background-color: rgb(172, 202, 0);
    width: 800px;
    left: -23px;
    top: 100px;
    padding: 30px;
    border: 5px solid #000000;
    z-index: 1;
}

.form--3CPcH label
{
    font-size: 1.1em;

    display: block;

    padding: 40px 5px 5px 2px;

    cursor: pointer;
    text-transform: uppercase;

    color: #2b2b2b;
}

.form--3CPcH input,
.form--3CPcH textarea
{
    font: inherit;

    display: block;

    width: 100%;
    padding: 5px 10px;

    color: inherit;
    border: 3px solid;
    background: transparent;
}

.form--3CPcH textarea
{
    min-height: 200px;
}

.form--3CPcH input:focus,
.form--3CPcH textarea:focus,
.form--3CPcH label:active + input,
.form--3CPcH label:active + textarea
{
    border-color: #10689a;
    outline: none;
}
.news--2OIjx {
    color: #000;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #4369f3;
}

.news--2OIjx header{
    display: flex;
    justify-content: space-between;
}
.newsList--2R3tD{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0;
    position: relative;
}
.block--owU8s{
    position: relative;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: #fff;
    background-color: #47a3da;
}

.box--1vKCV {
    width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border: 3px solid #000;
    padding: 20px;
    text-align: center;
}
