<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
	<div id="app"></div>

	<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>