.news {
    color: #000;
    width: 734px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #4369f3;
}

.news header{
    display: flex;
    justify-content: space-between;
}

.news header h1{
    width: 100%;
    max-width: 630px;
    text-align: center;
}