.newsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0;
    position: relative;
}
.linkNews{
    width: 100%;
    margin: 10px 0;
    text-align: left;
}
.linkNews a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}