:global * {
    box-sizing: border-box;
}

:global body {
    margin: 0;
    color: #000;
    background-color: #47a3da;
}

.box {
    width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border: 3px solid #000;
    padding: 20px;
    text-align: center;
}

.box li{
    position: relative;
    list-style-type: none;
}