* {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: #fff;
    background-color: #47a3da;
}

.box {
    width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border: 3px solid #000;
    padding: 20px;
    text-align: center;
}
.newsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0;
    position: relative;
}

.news {
    color: #000;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #4369f3;
}

.news header{
    display: flex;
    justify-content: space-between;
}

.button--small
{
    margin-left: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

    transition: opacity .3s linear;

    will-change: transform;
}

.button--small svg
{
    width: 20px;
    height: 20px;

    transition: transform .3s linear;

    will-change: transform;
}

.button--small:hover svg
{
    transform: scale(1.3)
}

.more__news {
    width: 200px;
    background-color: chartreuse;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.add__news{
    width: 200px;
    background-color: yellow;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.block__addNews{
    position: relative;
}

.form__wrap{
    position: absolute;
    background-color: rgb(172, 202, 0);
    width: 800px;
    left: -23px;
    top: 100px;
    padding: 30px;
    border: 5px solid #000000;
    z-index: 1;
}

.form label
{
    font-size: 1.1em;

    display: block;

    padding: 40px 5px 5px 2px;

    cursor: pointer;
    text-transform: uppercase;

    color: #2b2b2b;
}

.form input,
.form textarea
{
    font: inherit;

    display: block;

    width: 100%;
    padding: 5px 10px;

    color: inherit;
    border: 3px solid;
    background: transparent;
}

.form textarea
{
    min-height: 200px;
}

.form input:focus,
.form textarea:focus,
.form label:active + input,
.form label:active + textarea
{
    border-color: #10689a;
    outline: none;
}

.button__post{
    width: 200px;
    background-color: rgb(167, 167, 167);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
}