.news {
    color: #000;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #4369f3;
}

.news header{
    display: flex;
    justify-content: space-between;
}

.news header h1{
    max-width: 250px;
}