.more {
    width: 200px;
    background-color: chartreuse;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.add{
    width: 200px;
    background-color: yellow;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.post{
    width: 200px;
    background-color: rgb(167, 167, 167);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
}

.small
{
    margin-left: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

    transition: opacity .3s linear;

    will-change: transform;
}

.small svg
{
    width: 20px;
    height: 20px;

    transition: transform .3s linear;

    will-change: transform;
}

.small:hover svg
{
    transform: scale(1.3)
}